---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<IMAGE_KEY>&page=1&query=chicago,il
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<IMAGE_KEY>&page=346&query=chicago%2Cil>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<IMAGE_KEY>&page=2&query=chicago%2Cil>;
        rel="next"
      X-Total:
      - '3456'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      Etag:
      - W/"811a7590ca4dbd06b9aac4fe8189acd3"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":3456,"total_pages":346,"results":[{"id":"KMRFPukZxPU","created_at":"2020-10-09T16:52:55-04:00","updated_at":"2021-04-26T19:17:37-04:00","promoted_at":null,"width":4592,"height":2584,"color":"#a6a6a6","blur_hash":"L2HB-,?]zo:gGJn2E3^gR-E1%3IV","description":null,"alt_description":"white
        and brown concrete building","urls":{"raw":"https://images.unsplash.com/photo-1602276507033-1bcec514e1ef?ixid=MnwyMjY0NjF8MHwxfHNlYXJjaHwxfHxjaGljYWdvJTJDaWx8ZW58MHx8fHwxNjE5NDgyNzcx\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1602276507033-1bcec514e1ef?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMjY0NjF8MHwxfHNlYXJjaHwxfHxjaGljYWdvJTJDaWx8ZW58MHx8fHwxNjE5NDgyNzcx\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1602276507033-1bcec514e1ef?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjY0NjF8MHwxfHNlYXJjaHwxfHxjaGljYWdvJTJDaWx8ZW58MHx8fHwxNjE5NDgyNzcx\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1602276507033-1bcec514e1ef?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjY0NjF8MHwxfHNlYXJjaHwxfHxjaGljYWdvJTJDaWx8ZW58MHx8fHwxNjE5NDgyNzcx\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1602276507033-1bcec514e1ef?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjY0NjF8MHwxfHNlYXJjaHwxfHxjaGljYWdvJTJDaWx8ZW58MHx8fHwxNjE5NDgyNzcx\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/KMRFPukZxPU","html":"https://unsplash.com/photos/KMRFPukZxPU","download":"https://unsplash.com/photos/KMRFPukZxPU/download","download_location":"https://api.unsplash.com/photos/KMRFPukZxPU/download?ixid=MnwyMjY0NjF8MHwxfHNlYXJjaHwxfHxjaGljYWdvJTJDaWx8ZW58MHx8fHwxNjE5NDgyNzcx"},"categories":[],"likes":4,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"dmX2HVDqSsQ","updated_at":"2021-04-25T09:48:45-04:00","username":"drench777","name":"Dylan
        LaPierre","first_name":"Dylan","last_name":"LaPierre","twitter_username":null,"portfolio_url":null,"bio":null,"location":"Chicago
        ","links":{"self":"https://api.unsplash.com/users/drench777","html":"https://unsplash.com/@drench777","photos":"https://api.unsplash.com/users/drench777/photos","likes":"https://api.unsplash.com/users/drench777/likes","portfolio":"https://api.unsplash.com/users/drench777/portfolio","following":"https://api.unsplash.com/users/drench777/following","followers":"https://api.unsplash.com/users/drench777/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1602276888280-5bdf9bc71daeimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1602276888280-5bdf9bc71daeimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1602276888280-5bdf9bc71daeimage?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"dlp.official_","total_collections":0,"total_likes":128,"total_photos":65,"accepted_tos":true,"for_hire":false},"tags":[{"type":"search","title":"building"},{"type":"search","title":"condo"},{"type":"search","title":"housing"}]},{"id":"WCCO2CtOuVQ","created_at":"2020-10-09T16:52:55-04:00","updated_at":"2021-04-26T14:23:46-04:00","promoted_at":null,"width":4592,"height":2584,"color":"#0c73a6","blur_hash":"LM9H33og0JadO]ogroM{ERWD${s.","description":null,"alt_description":"white
        concrete building during daytime","urls":{"raw":"https://images.unsplash.com/photo-1602276506752-cec706667215?ixid=MnwyMjY0NjF8MHwxfHNlYXJjaHwyfHxjaGljYWdv[...]
