---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<IMAGE_KEY>&page=1&query=adfajo23323
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      Etag:
      - W/"7814e74bfa62dcc505522924e3c8cf4b"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Wed, 28 Apr 2021 02:30:48 GMT
recorded_with: VCR 6.0.0
