---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_KEY>&exclude=minutely,daily,current&lat=30.264979&lon=-97.746598&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.265,"lon":-97.7466,"timezone":"America/Chicago","timezone_offset":-18000,"hourly":[{"dt":1619571600,"temp":75.42,"feels_like":76.6,"pressure":1008,"humidity":84,"dew_point":70.25,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":14.16,"wind_deg":158,"wind_gust":27.04,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619575200,"temp":75.38,"feels_like":76.51,"pressure":1008,"humidity":83,"dew_point":69.85,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":14.92,"wind_deg":144,"wind_gust":32.21,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.2,"rain":{"1h":0.15}},{"dt":1619578800,"temp":75.04,"feels_like":76.19,"pressure":1008,"humidity":84,"dew_point":69.87,"uvi":0,"clouds":99,"visibility":10000,"wind_speed":14.12,"wind_deg":162,"wind_gust":33.42,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.07},{"dt":1619582400,"temp":74.91,"feels_like":75.9,"pressure":1008,"humidity":81,"dew_point":68.68,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":12.48,"wind_deg":170,"wind_gust":31.09,"weather[...]
